* {
  margin: 0;
  padding: 0;
}
h1 h2 h3 h4 h5 h6,
p {
  margin: 0;
  line-height: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn {
  font-size: medium;
  font-family: inter;
  font-weight: 400;
  background-color: #469165;
  padding: 12px 16px;
  line-height: 10px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 4px;
  transition: 1s ease-in;
}
button.btn:hover {
  background-color: #f5353b;
}

.container-full {
  background-color: #fbfbfb;
  color: #000;
  font-family: Inter;
  font-style: Regular;
  font-size: 18px;
  font-weight: 200;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.row {
  padding: 120px 0;
}

/* state Top Navber Section */
.header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 60px;
  width: 139px;
}
.manu ul {
  margin: 0;
  padding: 0;
}

.manu ul li {
  display: inline-block;
}

.manu ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
  font-weight: 500;
}
/* end Top Navber Section */

/* State hero Section */
.hero {
  text-align: center;
  color: #fff;
  padding: 0px 295px;
  margin: 40px 0;
}
.hero h1 span {
  color: #30b868;
  display: block;
}
.hero h1 {
  font-size: 72px;
  line-height: 84px;
}
.hero p {
  margin-bottom: 32px;
  color: #fff;
  margin-top: 20px;
  padding: 0 90px;
  line-height: 1.8;
  font-size: 18px;
}
.bg-Image {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-none {
  background: none;
  border: 1px solid #fff;
  margin-left: 16px;
}
.btn i {
  padding-left: 10px;
}
.bg-none:hover {
  background-color: #469165 !important;
}
.bg-none i {
  padding-left: 0;
  padding-right: 10px;
}

/* end Hero Section */

/*State bookmar Section */

.bookmar {
  margin-top: 80px;
}
.bookmar_title {
  text-align: center;
}
.bookmar .bookmar_title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.icon_list {
  display: flex;
  gap: 24px;
  text-align: center;
  margin-top: 44px;
}

.icon_item {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px #627382;
}
.icon_item span {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 14px;
  background-color: #f5353b;
  color: #fff;
  margin-bottom: 16px;
}
.icon_item h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 16px;
}
/*State bookmar Section */
.brain_disign {
  display: flex;
  gap: 50px;
}
.brain_disign img {
  height: 600px;
  width: 600px;
}
.brain-title {
  margin: 101px 0;
  padding-right: 200px;
}
.brain-title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #001931;
  margin: 16px 0;
}
.brain-title span {
  color: #469165;
  font-size: 16px;
  font-weight: 500;
}
.brain-title ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 32px;
}
.brain-title ul li {
  display: block;
  margin: 8px 0;
  display: inline-block;
  font-weight: 500;
}
.brain-title ul li i {
  padding-right: 5px;
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
}
.mb-120 {
  margin-bottom: 120px;
  background-color: #f7f6f2;
}
.Clearly_section {
  padding: 82px 400px;
  text-align: center;
}
.Clearly_section h1 {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}
.Clearly_section .mr-btn {
  margin-top: 24px;
  margin-bottom: 16px;
}

.bg-color {
  background-color: #001931;
}
.footer_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #2e4256;
  padding-bottom: 80px;
}
.footer_item img {
  width: 147px;
  height: 60px;
}
.social_icon {
  margin-right: 70px;
}
.social_icon ul li {
  display: inline-block;
}
.social_icon ul li a {
  background-color: #469165;
  color: #000;
  border-radius: 100px;
  padding: 3px;
  transition: 1s ease-in;
}
.social_icon ul li:hover a {
  background-color: #f5353b;
  color: #fff;
}
.social_icon h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
}
.footer p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 30px 0;
}
.pd-none {
  padding-bottom: 0;
}
