* {
  margin: 0;
  padding: 0;
}
h1 h2 h3 h4 h5 h6,
p {
  margin: 0;
}
.btn {
  font-size: medium;
  font-family: inter;
  font-weight: 400;
  background-color: #469165;
  padding: 12px 16px;
  line-height: 10px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 4px;
}
.container-full {
  background-color: #fff;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* state Top Navber Section */
.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 60px;
  width: 139px;
}
.manu ul {
  margin: 0;
  padding: 0;
}

.manu ul li {
  display: inline-block;
}

.manu ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
}
/* end Top Navber Section */
