* {
  margin: 0;
  padding: 0;
}
h1 h2 h3 h4 h5 h6,
p {
  margin: 0;
}
.btn {
  font-size: medium;
  font-family: inter;
  font-weight: 400;
  background-color: #469165;
  padding: 12px 16px;
  line-height: 10px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 4px;
}
.container-full {
  background-color: #FBFBFB;
  color: #000
  font-family: Inter;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.row {
  padding: 120px 0;
}

/* state Top Navber Section */
.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 60px;
  width: 139px;
}
.manu ul {
  margin: 0;
  padding: 0;
}

.manu ul li {
  display: inline-block;
}

.manu ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
}
/* end Top Navber Section */

/* State hero Section */
.hero {
  text-align: center;
  color: #fff;
  padding: 0px 295px;
  margin: 40px 0;
}
.hero h1 span {
  color: #30b868;
  display: block;
}
.hero h1 {
  font-size: 72px;
  line-height: 84px;
}
.hero p {
  margin-bottom: 32px;
  color: #fff;
  margin-top: 20px;
  padding: 0 90px;
  line-height: 1.8;
  font-size: 18px;
}
.bg-Image {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-none {
  background: none;
  border: 1px solid #fff;
  margin-left: 16px;
}
.btn i {
  padding-left: 10px;
}
.bg-none i {
  padding-left: 0;
  padding-right: 10px;
}

/* end Hero Section */

/*State bookmar Section */

.bookmar{
    margin-top: 80px;
}
.bookmar_title{
    text-align: center;
}
.bookmar .bookmar_title h2{
font-size: 48px;
font-weight: 700;
line-height: 58px;
}
.icon_list{
    display: flex;
    gap: 24px;
    text-align: center;
    margin-top: 44px;
}

.icon_item{
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #627382;
    
}
.icon_item span{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 100%;
    padding: 14px;
    background-color: #F5353B;
    color: #fff;
    margin-bottom: 16px;
}
.icon_item h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
}
/*State bookmar Section */